/******* signup *******/
.auth__form__error {
  padding: 0.5em 0.3em;
  color: var(--color-error);
  border-radius: var(--border-radius);

  &::first-letter {
    text-transform: capitalize;
  }

  &:empty {
    display: none;
  }
}
.auth__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5em 1em 0.5em;
}
.auth__wrapper {
  border: 1px solid #dddddd;
  width: clamp(300px, 100%, 450px);
  border-radius: 5px;
}
.auth__form {
  padding: 1.5em 2em;

  &__title {
    font-weight: 400;
  }
  small {
    margin-bottom: 5px;
  }
}

.auth__form > * + * {
  margin-top: 1em;
}
.form__btn__container {
  text-align: center;
}
.auth__button,
.primary__btn {
  @extend .signup__button;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 1em;
  cursor: pointer;
  border-radius: var(--border-radius);
}
.signup__button {
  background: var(--gradient);
  border: 1px solid var(--border-color);

  &:hover {
    background: var(--color-accent);
  }
}

.divider {
  height: 10px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  zoom: 1;
  width: 50%;
  text-align: center;
  margin: 1em auto;
}
/****** Login ******/
.login__button {
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid;
  border-color: #adb1b8 #a2a6ac #8d9096;

  &:hover {
    background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
  }
}
.auth__need__help {
  font-size: 16px;
  cursor: pointer;
  color: var(--color-anchor);
  &::marker {
    color: #000;
  }
}

.auth__forgot__password {
  padding-left: 17px;
  font-size: 16px;
}

.new__to__amasoon {
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
  margin-top: 3em;

  &::before {
    content: "";
    width: 30%;
    height: 1px;
    background: var(--gray);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-60%, 50%);
    z-index: 1;
  }

  &::after {
    content: "";
    width: 30%;
    height: 1px;
    background: var(--gray);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(60%, -50%);
    z-index: 1;
  }
}
