* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

label,
small {
  display: block;
}

label {
  font-size: 1.1em;
  font-weight: 700;
}
small {
  color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--color-anchor);
}

.hidden,
.none {
  display: none;
}
