* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

label,
small {
  display: block;
}

.input {
  width: 100%;
  min-height: 40px;
  text-indent: 5px;
  border: 1px solid #a6a6a6;
  border-radius: var(--border-radius);

  &:focus {
    border: 2px solid var(--success-color);
    outline: 3px solid var(--color--accent);
  }
}

label {
  font-size: 1.1em;
  font-weight: 700;
}
small {
  color: var(--gray);
}

a {
  text-decoration: none;
  color: var(--color-anchor);
}
p {
  line-height: 160%;
  color: rgb(85, 80, 80);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden,
.none {
  display: none;
}

.shown {
  display: block;
}

.logo {
  margin: 0.3em 0;
  width: 200px;
}

.loader {
  font-size: 1.3em;
}

#success {
  border: 1px solid var(--success-color);
  color: var(--success-color);
}

.error {
  padding: 0.5em 1.1em;
  color: var(--color-error);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-error);
  text-align: center;
  &::first-letter {
    text-transform: capitalize;
  }

  &:empty {
    display: none;
  }
}

.center {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.secondary-button {
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  border: 1px solid;
  border-color: #adb1b8 #a2a6ac #8d9096;
  padding: 10px 0;
  cursor: pointer;
  border-radius: var(--border-radius);

  &:hover {
    background: linear-gradient(to bottom, #e7eaf0, #d9dce1);
  }
}

.page-width {
  margin: 1em auto;
  max-width: 1300px;
}
