:root {
  --primary: #fff;
  --accent: #f0c14b;
  --gradient: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  --gray: rgb(168, 136, 136);
  --border-color: #a88634;
  --padding: 0 1em;
  --border-radius: 5px;
}
