:root {
  //authentication form
  --gradient: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  --gray: rgb(168, 136, 136);
  --success-color: #a88634;
  --padding: 0 1em;
  --border-radius: 5px;
  --border-color: #ddd;
  //
  --color-accent: #f0c14b;
  --color-primary: #131921;
  --color-secondary: #222f3e;
  --color-white: rgb(249, 245, 245);
  --color-anchor: #0066c0;
  --color-error: #ff0000c2;
  --color-background:#EAEDED;
}
